body {
    background-color: #F0FFFF;
}


  .bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}

form {
    text-align: center;
}
footer {
    border: white solid 2px;
    /*position: fixed;
    top: 509px;
    left: -0.5px;
    right: -0.5px;*/
}