body {
    background-color: #F0FFFF;
}
.container {
    width: 100%;
     
}

.row {
    /*border: black solid 1px;*/
    width: 100%;
    
  }

.col {
    /*border: black solid 1px;*/
    height: 100px;
    
  }

footer {
    border: white solid 2px;
    /*position: fixed;
    top: 509px;
    left: -0.5px;
    right: -0.5px;*/
    
}

footer .nav-item {
  padding-left: 40px;
}

.container{
  border: 2px solid black;
  border-collapse: collapse;
  width: auto;
  height: fit-content;
}
.col, .row{
  border: 1px solid black;
}
